__pycache__/
.pytest_cache/
**/.vscode/
**/obj/
**/bin/

*.exe
*.bin
*.o

.venv/
venv/

.env

temp/

Linear/*
!Linear/abc
!Linear/pages
!Linear/README.md
!Linear/linear_tasks.pdf

Tree/*
!Tree/abc
!Tree/README.md
!Tree/tree_tasks.pdf
!Tree/pages
